<ul>
  <%=@category.name%>: <br>
  <a href='/category/<%=@category.id%>/new_formula'>Add formula</a>
    <% @category.formulas.each do |formula| %>
  <li id="category_id"> <a href="/formula/<%=formula.id%>"><%=formula.name %></a> </li>
    <ul>
      <li class="Forcontent"><%=formula.content%></li>
    </ul>
  <% end%>
</ul>
<a href="/category/<%=@category.id%>/delete">Delete Category</a><br>
<a href="/profile/<%=session[:id]%>">back to profile</a>
