<h3><%=@formula.name%></h3>
<h6><%=@formula.content%></h6>

  <a href="/formula/<%=@formula.id%>/update">Update formula</a>
  <div id="delete_btn">
    <form action="/formula/<%=@formula.id%>/delete" method="Post">
      <input type="hidden" name="_method" value="Delete">
      <input type="submit" Value="Delete">
    </form>
  </div>
  <a href="/profile/<%=session[:id]%>">back to profile</a>
